.ListDisplay {
  width: 100%;
  background-color: var(--bg-color2);
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  margin: 0;
  color: var(--font-color1);
}

.ListDisplay ul {
    padding: 0;
    overflow: scroll;
    margin: 0;
}

.ListDisplay li {
    list-style-type: none;
    margin-bottom: 5px;
    max-width: 180px;
}

.ListDisplay [type="button"] {
    border: none;
    font-size: var(--font-size);
    background-color: inherit;
    outline: none;
    border-bottom: solid 1px var(--line-color);
    min-width: 100%;
    text-align: start;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.ListDisplay [type="button"]:hover {
    border: none;
    background-color: var(--highlight);
    outline: none;
    border-bottom: solid 1px var(--line-color);
    text-align: start;
    cursor: pointer;
}